* {
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 1.2;
}

html {
  font-family: $font-stack;
  font-size: $font-size + px;
  color: $main;
  padding: 0;
  margin: 0;
  font-weight: 400;
  transition: transform $duration ease;
  height: 100%;
}

body {
  font-family: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  background: url("../images/bg-small.jpg") repeat;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  @media (max-width: $sm-breakpoint) {
    width: 450px;
  }
  @media (max-width: $xs-breakpoint) {
    width: 303px;
  }
}

.img-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  color: #fff;
  background: $main;
}

::selection {
  color: #fff;
  background: $main;
}

a {
  text-decoration: none;
  outline: 0;
  color: $secondary;
  transition: all $duration linear;
  &:focus {
    text-decoration: none;
    outline: 0;
    color: $secondary;
  }
  &:hover {
    text-decoration: underline;
    outline: 0;
    color: $secondary;
  }
  &:active {
    text-decoration: none;
    outline: 0;
  }
  &.link {

  }
}

table {
  overflow-y: hidden;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  font-size: 16px;
  a {
    font-size: 16px;
    color: $secondary;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  thead {
    th {
      background-color: $secondary;
      color: $white;
      text-transform: uppercase;
      font-size: 16px;
      padding: 15px;
      text-align: center;
      &:first-child {
        text-align: left;
      }

    }
  }
  tbody {
    th {

    }
    td {
      padding: 30px 15px;
      background-color: $section-bg;
      border: 1px solid $white;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }
    tr {
      &:first-of-type {
        td, th {

        }
      }
      &:last-of-type {
        td, th {
          //
        }
      }
      &:nth-child(odd) {

      }
    }
  }
  &.table-forum {
    @media (max-width: $md-breakpoint) {
      thead {
        display: none;
      }
      tbody {
        display: flex;
        width: 100%;
        flex-direction: column;
        tr {
          display: block;
          width: 100%;
          border: 1px solid $white;
        }
        td {
          display: block;
          width: 100%;
          text-align: right !important;
          padding: 10px;
          border: none;
          br{
            display: none;
          }
          &:before{
            content: attr(data-title);
            float: left;
            width: 50%;
            text-align: left;
          }
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

hr, .hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid $border;
}

svg {
  width: 100%;
}

.fix {
  position: fixed;
  z-index: 99;
}

.content {
  h1 {
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 45px;
    position: relative;
    @media (max-width: $lg-breakpoint) {
      font-size: 32px;
      margin-bottom: 15px;
    }
    @media (max-width: $sm-breakpoint) {
      font-size: 25px;
    }
    span {
      color: $secondary;
    }
    &:first-letter {
      color: $secondary;
    }
  }
  p {
    color: $main;
    font-size: 17px;
    line-height: 1.471;
    margin-bottom: 20px;
    @media (max-width: $sm-breakpoint) {
      font-size: 14px;
    }
  }
}

//to top
#scrollup {
  position: fixed;
  color: $third;
  right: 2%;
  bottom: 20%;
  display: none;
  cursor: pointer;
  font-size: 50px;
  z-index: 99;
}

//off-canvas menu
.uk-offcanvas {
  &-bar {
    padding: 15px;
  }

  &-title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  }

  &-contact {

  }
  &-list {
    li {
      margin-bottom: 15px;
      padding-left: 15px ;
      a {
        font-size: 14px;
        color: $white;
      }
    }
    .sub-menu {
      padding-left: 15px;
      padding-top: 10px;
    }
  }
  .but-close {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
    color: #ffffff;
  }

}

//modal dialog window
.md {
  max-width: 360px;
  text-align: center;
  padding: 45px 30px;
  border: 3px solid $four;
  p {
    color: $main;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .title{
    font-size: 32px;
    text-align: center;
    @media (max-width: $sm-breakpoint){
      font-size: 22px;
    }
  }
}

//fancybox
.fancybox-bg {
  background: rgba(76, 76, 76, 0.63);
  &:after {
    content: '';
    font-family: $font-stack;
    display: block;
    font-size: 240px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary;
  }
  &:before {
    content: '';
    font-family: $font-stack;
    display: block;
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary;
    text-align: center;
  }
}

//carousel
.owl {
  &-prev, &-next {
    font-size: 90px;
    color: $secondary;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    opacity: 0.7;
    transition: all 600ms ease;
    &:hover {
      opacity: 1;
      transition: all 600ms ease;
    }
  }

  &-prev {
    left: -8%;
  }

  &-next {
    right: -8%;
  }

  &-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    .owl-dot {
      width: 30px;
      height: 4px;
      margin-right: 5px;
      background-color: $secondary;
      display: inline-block;
      transition: all 600ms ease;
      &.active {
        height: 9px;
        transition: all 600ms ease;
      }
    }
  }

}

//bread crumb
.breadcrumb {
  background: none;
  border: none;
  padding: 30px 15px;
  margin-bottom: 20px;
  ul {
    li {
      font-size: 16px;
      line-height: 1.2em;
      color: $secondary;
      display: inline-block;
      font-weight: 900;
      a {
        color: $main;
        font-weight: normal;
      }
      & + li {
        &:before {
          content: '\f105';
          display: inline-block;
          font-family: FontAwesome;
          color: $main;
          margin: 0 15px;
          font-weight: bold;
        }
      }
    }
  }
}

//pagination
.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 30px 0;

  .prev-page, .next-page {
    display: inline-block;
    vertical-align: middle;
    a {
      color: #dadada;
      line-height: 32px;
      font-size: 32px;
      font-weight: bold;
      &:hover {
        color: $secondary;
      }
    }
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    li {
      display: inline-block;
      padding: 0 5px;
      a {
        display: inline-block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
        border: 4px solid #dadada;
        color: $main;
        &:hover {
          background-color: $secondary;
          border: 4px solid transparent;
          text-decoration: none;
          color: #ffffff;
        }
      }
      &.active {
        a {
          background-color: $secondary;
          border: 4px solid transparent;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

//title section
.title {
  font-weight: 900;
  font-size: 40px;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 45px;
  position: relative;
  @media (max-width: $lg-breakpoint) {
    font-size: 32px;
  }
  @media (max-width: $sm-breakpoint) {
    font-size: 25px;
  }
  small {
    display: block;
    font-weight: 300;
    margin: 0 auto;
  }
  &-aside {
    color: $secondary;
    text-align: center;
  }
  &-white {
    color: $white;
  }
  &-with-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    .btn-wrap {
      width: 260px;
      margin: 0;
      @media (max-width: $sm-breakpoint) {
        margin-top: 20px;
        margin-left: auto;
      }
    }
    @media (max-width: $sm-breakpoint) {
     flex-direction: column;
    }
  }

}