$font-size: 16;
$duration: 300ms;
$font-stack:  'Montserrat', sans-serif;

$shadow: 0px 5px 4px 3px rgba(41,41,41,0.25);

// Colors
$main: #2d2d2d;
$secondary: #69af07;
$third: #2f2f2f;
$four: #fff138;
$five: #4c4c4c;
$black: #000000;
$white: #ffffff;
$section-bg: #f5f5f5;
$border: #dadada;

// breakpoint
$lg-breakpoint: 1199px;
$md-breakpoint: 991px;
$sm-breakpoint: 767px;
$xs-breakpoint: 480px;
