.btn-wrap {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 250px;
  position: relative;
  height: auto;
}

.btn, input[type='submit'], button[type='submit'] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #fff;
  border: 5px solid;
  transition: all $duration ease;
  overflow: hidden;
  height: 55px;
  line-height: 45px;
  cursor: pointer;
  font-family: $font-stack;
  -webkit-touch-callout: none;
  user-select: none;
  border-radius: 0;
  &:focus {
    outline: none;
    color: #ffffff;
  }
  &:hover {
    outline: none;
  }
  &:active {

  }
  &.btn-call {
    font-size: 15px;
    font-weight: 600;
    height: 44px;
    background-color: $secondary;
    border-radius: 21.5px;
    border: none;
    text-transform: none;
    color: $white;
    &:hover {
      background-color: $four;
      color: $white;
    }
  }
  &.btn-yellow{
    background-color: $four;
    color: $black;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    border: none;
    &:hover{
      background-color: $secondary;
      color: $white;
    }
  }
  &.btn-yellow-def{
    font-size: 17px;
    font-weight: 600;
    border: 2px solid $four;
    background-color: transparent;
    color: $four;
    &:hover{
      background-color: $four;
      color: $black;
    }
  }
  i.fa{
    margin-left: 15px;
  }
}


