//section

.header {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    @media (max-width: $sm-breakpoint) {
      flex-direction: column;
    }
  }
  &-logo {
    width: 5/12 * 100%;
    padding: 0 15px;
    height: 141px;
    @media (max-width: $lg-breakpoint) {
      width: 30%;
      height: 95px;
    }
    @media (max-width: $sm-breakpoint) {
      height: auto;
    }
    @media (max-width: $sm-breakpoint) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &-right {
    width: 7/12 * 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: $lg-breakpoint) {
      width: 70%;
    }
    @media (max-width: $sm-breakpoint) {
      width: 100%;
    }
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media (max-width: $md-breakpoint) {
        flex-direction: column;
        align-items: flex-end;
      }
      @media (max-width: $sm-breakpoint) {
        align-items: center;
      }
      address {
        width: 5/7*100%;
        padding: 0 15px;
        @media (max-width: $md-breakpoint) {
          text-align: right;
          width: 100%;
        }
      }
      .btn-wrap {
        width: 180px;
        padding: 0 15px;
        margin: 0;
        @media (max-width: $sm-breakpoint) {
          width: 100%;
        }
      }
    }
    nav {
      width: 100%;
    }
  }
}

.home-main {
  background-color: $section-bg;
  padding: 90px 0 10px;
  @media (max-width: $md-breakpoint) {
    padding: 40px 0 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media (max-width: $md-breakpoint) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .content {
    width: 8/12*100%;
    padding: 0 15px;
    @media (max-width: $md-breakpoint) {
      width: 100%;
    }
  }
  .sidebar {

  }
}

.sidebar {
  width: 4/12*100%;
  padding: 45px 15px 30px;
  @media (max-width: $md-breakpoint) {
    width: 100%;
  }
  aside.gallery{
    ul {
      @media (max-width: $md-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media (max-width: $sm-breakpoint) {
          flex-direction: column;
        }
      }
      li {
        margin-bottom: 30px;
        text-align: center;
        a {
          display: inline-block;
        }
      }
    }
  }

}

.edge {
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
    @media (max-width: $md-breakpoint) {
      flex-wrap: wrap;
    }
    li {
      width: 3/12*100%;
      padding: 0 15px;
      display: flex;
      align-items: center;
      .icn-wrap {
        width: 68px;
      }
      .text {
        width: 2/3*100%;
        padding-left: 15px;
        font-size: 30px;
        font-weight: 300;
        @media (max-width: $lg-breakpoint) {
          font-size: 25px;
        }
        span {
          display: block;
          font-weight: 700;
          line-height: 1.167;
        }
      }
      @media (max-width: $md-breakpoint) {
        width: 50%;
        margin-bottom: 30px;
      }
      @media (max-width: $sm-breakpoint) {
        width: 100%;
      }
    }
  }
}

.section-forum {
  .wrapper {
    padding: 70px 15px 90px;
  }
}

.sections-news {
  background-color: $secondary;
  padding: 70px 0;
  position: relative;
  &:before {
    content: '';
    background-image: url("../images/bg__trava-top.png");
    height: 33px;
    width: 100%;
    background-repeat: repeat;
    position: absolute;
    top: -32px;
    left: 0;
    display: block;
  }
  &:after {
    content: '';
    background-image: url("../images/bg__trava-bottom.png");
    height: 33px;
    width: 100%;
    background-repeat: repeat;
    position: absolute;
    bottom: 0px;
    left: 0;
    display: block;
  }
  &-list {
    display: flex;
    flex-direction: row;
    @media (max-width: $md-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
    .item {
      width: 33.33%;
      padding: 0 15px;
      @media (max-width: $md-breakpoint) {
        margin-bottom: 30px;
        width: 50%;
      }
      @media (max-width: $sm-breakpoint) {
        width: 100%;
      }
      .wrap {
        background-color: $white;
        .img-wrap {
          margin-bottom: 15px;
          width: 100%;
          img {
            width: 100%;
          }
        }
        time {
          width: 140px;
          display: inline-block;
          background-color: $secondary;
          text-align: center;
          color: $white;
          font-size: 14px;
          font-weight: 700;
          padding: 10px;
          i.fa {
            margin-right: 15px;
          }
        }
        .description {
          padding: 20px 20px 25px;
          font-size: 17px;
          font-weight: 600;
          .btn-wrap {
            margin-top: 30px;
            width: 100%;
          }
        }
      }
    }
  }
}

.footer {
  .wrapper {
    padding: 30px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $md-breakpoint) {
      flex-direction: column;
    }
  }
  &-logo {
    width: 3/12*100%;
    padding: 0 15px;
    height: 130px;
    @media (max-width: $md-breakpoint) {
      width: 50%;
      margin: 0 auto 20px;
      height: auto;
    }
    @media (max-width: $sm-breakpoint) {
      width: 100%;
    }
  }
  &-right {
    width: 8/12 * 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: $md-breakpoint) {
      width: 100%;
    }
    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      @media (max-width: $md-breakpoint) {
        justify-content: center;
      }
      .btn-wrap {
        width: 180px;
        padding: 0 15px;
        margin: 0;
        @media (max-width: $md-breakpoint) {
          margin-top: 15px;
        }
        @media (max-width: $sm-breakpoint) {
          width: 100%;
        }
      }
    }
    nav {
      width: 100%;
    }
  }
  .copy {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
  }
}

//other style

.wrapper-bg {
  background-color: $white;
}

nav {
  &.menu {
    &-header, &-footer {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          position: relative;
          a {
            font-size: 15px;
            color: $five;
            font-weight: 500;
            border-top: 3px solid transparent;
            padding-top: 10px;
            padding-bottom: 10px;
            display: inline-block;
            &:hover {
              color: $secondary;
              border-top-color: $secondary;
              text-decoration: none;
            }
          }
          &:hover {
            .sub-menu {
              display: block;
            }
          }
          &.current-menu-item {
            a {
              border-top-color: $secondary;
              color: $secondary;
            }
          }
        }
      }
      ul.sub-menu {
        display: none;
      }
    }
    &-header {
      ul.sub-menu {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-top: 3px solid $secondary;
        position: absolute;
        top: 41px;
        left: 0;
        width: 171px;
        padding: 15px;
        display: none;
        li {
          a {
            font-size: 15px;
            color: $five;
            font-weight: 500;
            padding-top: 5px;
            display: inline-block;
            border: none;
            &:before {
              content: '\f105';
              font-family: FontAwesome;
              margin-right: 3px;
            }
            &:hover {
              color: $secondary;
              border-top-color: $secondary;
              text-decoration: none;
            }
          }
        }
      }
      @media (max-width: $md-breakpoint) {
        display: none;
      }
    }
    &-footer{
      @media (max-width: $sm-breakpoint) {
       ul{
         flex-direction: column;
       }
      }
    }
  }
  li {
    a {
      &:before {
        content: '';
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 5px;
      }
    }
    &.home {
      a {
        &:before {
          content: '\f015';
        }
      }
    }
    &.news {
      a {
        &:before {
          content: '\f1ea';
        }
      }
    }
    &.composition {
      a {
        &:before {
          content: '\f0c0';
        }
      }
    }
    &.statute {
      a {
        &:before {
          content: '\f15c';
        }
      }
    }
    &.contributions {
      a {
        &:before {
          content: '\f15c';
        }
      }
    }
    &.forum {
      a {
        &:before {
          content: '\f086';
        }
      }
    }
  }
}
